%h1 Outdoor.sy

%h3 Customers

%table
  %tr
    %th
      = render partial: "sortable_header", locals: { column_name: :full_name }
    %th
      Email
    %th
      = render partial: "sortable_header", locals: { column_name: :vehicle_type }
    %th
      Vehicle Name
    %th
      Vehicle Length (ft)
  = render partial: "customer", collection: @sorted_customers.customers

%h3 Import

= form_with(url: customer_imports_path, method: :post) do |f|
  = f.file_field :file
  = f.submit "Import Customers"
